doctype html
html
  head
    Title Nathans Family Tree
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devicewidth, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
    //<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/output.css">
    <link rel="stylesheet" href="css/tree.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    -var br = '<br />'
    .tree
      ul
        li
          a(href="#")
            p Legend
            br
            p Married '==='
            br
            p Divorced '---'
      ul
        li
          a(href='#') Robert C. Sutherland === Jane S. Hughs <br /><img src="css/img/robert.jpg" width="100" height="100"><img src="css/img/jane.jpg" width="100" height="100"><br /> <strong>Mon Gand-p&egrave;re et ma Grand-m&egrave;re</strong>
          ul
            li
              a(href='#') Suzzane Sutherland === Louie Baldinegro <br /><img src="css/img/suzi.jpg" width="100" height="100"><img src="css/img/louie.jpg" width="100" height="100"><br /> <strong>Ma tante et mon beau-l'oncle</strong>
              ul
                li
                  a(href='#') Faith Baldinegro<br /><img src="css/img/faith.jpg" width="100" hieght="100"> <br /><strong> Ma cousine</strong>
            li
              a(href='#') Jennifer M. Sutherland <br /> <img src="css/img/jenny.jpg" width="100" height="100"><br /><strong> Ma tante</strong>
              ul
                li
                  a(href='#') Jack R. Sutherland <br /><img src="css/img/jack.jpg" width="100" height="100"> <br /><strong> Mon cousin</strong>
                li
                  a(href='#') Charlie A. Sutherland <br /><img src="css/img/charlie.jpg" width="100" height="100"><br /><strong> Ma cousine</strong>
            li
              a(href='#') Sarah E. Sutherland --- Jonior Jean-Simon <br /><img src="css/img/sarah.jpg" width="100" height="100"><img src="css/img/jay.jpg" width="100" height="100"><br /><strong> Ma M&egrave;re et mon m&egrave;re</strong>
              ul
                li
                  a(href='#') Nathan R. Jean-Simon <br /><img src="css/img/nathan.jpg" width="100" height="100"><br /><strong> Moi</strong>
