.margin

.jumbotron.mt-500
  .row
    .col-md-2.col-md-offset-1
      .thumbnail
        i.fa.fa-code.fa-3x
          .caption
            h3 Work
          p These are some of the projects i've been worked on!
          p
            a.btn.btn-primary(href='work.html', role='button') Works


    .col-md-4.col-md-offset-1
      .thumbnail.pad-10px
        i.fa.fa-user.fa-4x
          .caption
            h2 About Me
          p Sea timeam molestiae theophrastus et. Ut ullum oratio malorum mea, vel ex eligendi lucilius. Ne cum falli euismod euripidis, id dico constituto complectitur sed, cu ullum epicurei verterem usu. At nec oporteat euripidis. Usu cibo vidit definiebas ea. Nec ei porro inani tollit, vocibus civibus recteque ne est.

    .col-md-2.col-md-offset-1
      .thumbnail
        i.fa.fa-envelope-o.fa-3x
          .caption
            h3 Contact Me
          p If you'd like to get in touch with me press this button!
          p
            a.btn.btn-primary(href='email.html', role='button') Email
